.bar-area{
    width: 100%;
    height: 7vh;
    background-color: #e3d5ca;
    display: flex;
    justify-content: center;
}

#game-title{
    width: fit-content;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
}