.lobby-selector{
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
}

.player-name, .entered-lobby-code{
    width: 100%;
    align-self: center;
    height: 70px;
    border-radius: 16px;
    border: none;
    background-color: #d7c3b4;
    font-size: 32px;
}


.lobby-selector p{
    width: 100%;
    padding: 0;
    margin: 5% 0;
    
    text-align: center;
    font-size: clamp(24px, 1vw, 32px);
}

.create-lobby-button, .join-lobby-button{
    margin-top: auto;
    padding: 25px 200px;
    text-decoration: none;
    color: black;
    background-color: #d7c3b4;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 40px;
    width: 100%;
}

.create-lobby-button:hover, .join-lobby-button:hover {
    background-color: #eadfd7;
}
